
<h1>Assignments Links</h1>
<li><a href="{{ url_for('dash.create_assignment') }}">Create Assignment</a></li>
<li><a href="{{ url_for('dash.view_assignment') }}">View Assignment</a></li>


<h1>Attendance Links</h1>
<li><a href="{{ url_for('dash.create_attendance') }}">Create Attendance</a></li>
<li><a href="{{ url_for('dash.view_attendances') }}">View Attendance</a></li>


<h1>Grade Links</h1>
<li><a href="{{ url_for('dash.create_grade') }}">Create Grade</a></li>
<li><a href="{{ url_for('dash.view_grades') }}">View Grade</a></li>



<h1>Student Management</h1>
<li><a href="{{ url_for('dash.create_student') }}">Create Student</a></li>
<li><a href="{{ url_for('dash.view_students') }}">View Student</a></li>


