{% extends 'auth/base.html' %}


{% block content %}
<section class="about-section" id="about">
  <h2>About Our School System</h2>
  <p>Our platform makes managing students, teachers, and classes simple, fast, and transparent.</p>

  <div class="cards">
    <div class="about-card">
      <h3>Our Mission</h3>
      <p>To provide an all-in-one platform for schools to manage operations effectively.</p>
    </div>
    <div class="about-card">
      <h3>Our Vision</h3>
      <p>Empowering education through technology and streamlined systems.</p>
    </div>
    <div class="about-card">
      <h3>Core Values</h3>
      <p>Transparency, innovation, and collaboration for better school management.</p>
    </div>
  </div>
</section>

  
{% endblock content %}