{% extends 'base.html' %}
{% block content %}
<h3>Update Assignment</h3>

<form method="POST" enctype="multipart/form-data">
    <div class="mb-3">
        <label>Assignment Title</label>
        <input type="text" name="assignment_name" value="{{ assignment.assignment_name }}" class="form-control" required>
    </div>

    <div class="mb-3">
        <label>Add More Files</label>
        <input type="file" name="files" multiple class="form-control">
    </div>

    <button class="btn btn-success">Save</button>
</form>
{% endblock %}
