{% extends 'base.html' %}
{% block content %}



<div class="page-breadcrumb">
  <div class="row align-items-center">
    <div class="col-md-6 col-8 align-self-center">
      <h3 class="page-title mb-0 p-0">Mark Attendance</h3>
      <div class="d-flex align-items-center">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ url_for('dash.index') }}">Home</a></li>
            <li class="breadcrumb-item"><a href="{{ url_for('dash.view_attendance_students') }}">View Student Attendance</a></li>
            <li class="breadcrumb-item active" aria-current="page">Create Attendance</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>

{% if error %}
<div class="alert alert-danger">{{ error }}</div>
{% endif %}
{% if success %}
<div class="alert alert-success">{{ success }}</div>
{% endif %}

<div class="card">
  <div class="card-body">
    <h4 class="card-title">Student: {{ student.first_name }} {{ student.last_name }}</h4>

    <form method="POST">
      <label>Status</label>
      <select name="status" class="form-control" required>
        <option>Present</option>
        <option>Absent</option>
      </select>
      <button class="btn btn-primary mt-3">Save</button>
    </form>
  </div>
</div>

{% endblock %}
