{% extends 'base.html' %}
{% block content %}

<div class="page-breadcrumb">
  <h3 class="page-title">Mark Attendance</h3>
</div>

{% if error %}
<div class="alert alert-danger">{{ error }}</div>
{% endif %}
{% if success %}
<div class="alert alert-success">{{ success }}</div>
{% endif %}

<div class="card">
  <div class="card-body">
    <h4 class="card-title">Student: {{ student.first_name }} {{ student.last_name }}</h4>

    <form method="POST">
      <label>Status</label>
      <select name="status" class="form-control" required>
        <option>Present</option>
        <option>Absent</option>
      </select>
      <button class="btn btn-primary mt-3">Save</button>
    </form>
  </div>
</div>

{% endblock %}
