{% extends 'base.html' %}
{% block content %}

<div class="page-breadcrumb">
  <h3 class="page-title">Update Attendance</h3>
</div>

{% if success %}
<div class="alert alert-success">{{ success }}</div>
{% endif %}

<div class="card">
  <div class="card-body">
    <p><strong>Date:</strong> {{ attendance.attendance_date }}</p>

    <form method="POST">
      <label>Status</label>
      <select name="status" class="form-control">
        <option {% if attendance.status == 'Present' %}selected{% endif %}>Present</option>
        <option {% if attendance.status == 'Absent' %}selected{% endif %}>Absent</option>
      </select>

      <button class="btn btn-primary mt-3">Update</button>
    </form>
  </div>
</div>

{% endblock %}
