{% extends 'base.html' %}
{% block content %}

<div class="page-breadcrumb">
  <div class="row align-items-center">
    <div class="col-md-6 col-8 align-self-center">
      <h3 class="page-title mb-0 p-0">Mark Attendance For {{ student.first_name}} {{student.last_name }}</h3>
      <div class="d-flex align-items-center">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ url_for('dash.index') }}">Home</a></li>
            <li class="breadcrumb-item"><a href="{{ url_for('dash.view_attendance_students') }}">View All Attendances</a></li>
            <li class="breadcrumb-item active" aria-current="page"> All <span class="page-title">{{ student.first_name}} {{student.last_name }}</span> Attendances</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>

<a href="{{ url_for('dash.create_attendance', id=student.id) }}" 
   class="btn btn-success mb-3">Mark Attendance</a>

<div class="card">
  <div class="card-body">
    <h4 class="card-title">Attendance Records</h4>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Date</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>

      <tbody>
        {% for a in attendances %}
        <tr>
          <td>{{ a.attendance_date }}</td>
          <td>
            {% if a.status == "Present" %}
              <span class="badge bg-success">Present</span>
            {% else %}
              <span class="badge bg-danger">Absent</span>
            {% endif %}
          </td>
          <td>
            <a href="{{ url_for('dash.view_one_attendance', id=a.id) }}" class="btn btn-info btn-sm">View</a>
            <a href="{{ url_for('dash.update_attendance', id=a.id) }}" class="btn btn-warning btn-sm">Update</a>
            <a href="{{ url_for('dash.delete_attendance', id=a.id) }}" class="btn btn-danger btn-sm">Delete</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

  </div>
</div>

{% endblock %}
