{% extends 'base.html' %}
{% block content %}

<div class="page-breadcrumb">
  <div class="row align-items-center">
    <div class="col-md-6 col-8 align-self-center">
      <h3 class="page-title mb-0 p-0">Attendance Details For {{ student.first_name}} {{student.last_name }}</h3>
      <div class="d-flex align-items-center">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ url_for('dash.index') }}">Home</a></li>
            <li class="breadcrumb-item"><a href="{{ url_for('dash.view_student_attendance', id=student.id) }}">All {{ student.first_name}} {{student.last_name }} Attendances</a></li>
            <li class="breadcrumb-item active" aria-current="page"> All <span class="page-title">{{ student.first_name}} {{student.last_name }}</span> Attendances</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>


<div class="card">
  <div class="card-body">
    <p><strong>Date:</strong> {{ attendance.attendance_date }}</p>
    <p><strong>Status:</strong> {{ attendance.status }}</p>

    <a href="{{ url_for('dash.update_attendance', id=attendance.id) }}" class="btn btn-warning">Update</a>
    <a href="{{ url_for('dash.delete_attendance', id=attendance.id) }}" class="btn btn-danger">Delete</a>
  </div>
</div>

{% endblock %}
